# Using `numpy` and `pandas` to hold and manipulate data

## Intro

Two of the most useful libraries for working with scientific data are `numpy` and `pandas`. `Numpy` lets you set up n-dimensional arrays of data (ndarrays), slice and manipulate that data, and perform various operations on those arrays. `Pandas` builds on that functionality by focusing on rigidly defined lists (Series) and 2D tables (DataFrames aka "panel data", whence comes `pandas`). `Pandas` also makes data import and manipulation simpler and more intuitive than `numpy`. However in exchange for being simpler to write and read, `pandas` can be slower than `numpy`. 

In addition to `numpy` and `pandas`, we will touch on `scipy`, which is also built on top of `numpy`. `Scipy` lets you input `numpy` arrays into a wide range of statistical and modeling algorithms.

The lines between these libraries are blurry, and often you can do the same functions using either package with slightly different syntax. 

Most python plotting packages use `numpy` ndarrays or `pandas` DataFrames as input. We will use some plotting methods below to visualize what we are doing with our DataFrame without actually covering how to use those functions, but don't panic! We will focus on plotting later in the course.

## `Pandas` for tidy data management

Even though `pandas` is built on top of `numpy`, it's simpler and importing data is much easier with `pandas`, so we will start here. 

There are two main `pandas` data types:

 - Series: A named list of values, all of the same type
 - DataFrame: Basically an Excel spreadsheet in computer memory. Each column is a different Series of data, and each row is a separate observation or sample.
 
Let's import some data to work with. `Pandas` provides simple tools for importing from Excel, csv, or any other common data format. Here we are going to use the `read_csv` command to pull in a table of RNAseq data from a [melanoma study from 2017](https://www.nature.com/articles/s41467-017-02353-y) published in Nature Communications.

## Importing and initial data inspection 

First we need to import the libraries we want to use. When you import these libraries you can also give them an alias, or an easier to remember and type short name. The ones used below are common for these packages.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

We can now use these packages by typing in the alias followed by a '.' and a method name. We'll start by importing a table of expression data using `read_csv` and a table of metadata using `read_excel`.

In [2]:
# The data is tab separated and the first column has the gene names
# Remember that most things in python are zero-indexed, so the first
# column is index 0
df = pd.read_csv('data\GSE88741-expression.txt', sep='\t', index_col=0)

In [3]:
# Lets take a look at the imported data
# The number of rows and columns in a DataFrame can be found at df.shape
print (df.shape)

# Let's take a look at the top of `df` using df.head()
# Input a number between the parentheses to indicate how many lines you want to see- 5 is default
print (df.head())

# Note: Why don't we need parentheses after `df.shape`?

(35238, 12)
             GSM2344965  GSM2344966  GSM2344967  GSM2344968  GSM2344969  \
gene_symbol
A1BG                400         320         490         331         363
A1CF                  1           1           3           0           0
A2M               23278       47606       20484        2652        2707
A2ML1                 6           8          10           1           7
A2MP1                21           7          34           0           6

             GSM2344970  GSM2344971  GSM2344972  GSM2344973  GSM2344974  \
gene_symbol
A1BG                390         225         248         301         755
A1CF                  1           0           2           3           1
A2M                2854           4           7           3       26726
A2ML1                 4           3           0           1           8
A2MP1                 3           0           0           0          13

             GSM2344975  GSM2344976
gene_symbol
A1BG                391         310
A1CF                  0           5
A2M               10394       12096
A2ML1                 4           7
A2MP1                 3           3

In [4]:
# describe() shows a quick statistics summary of your data
# round() limits the number of significant digits
# You can chain together functions like we do here with round
df.describe().round()

,GSM2344965,GSM2344966,GSM2344967,GSM2344968,GSM2344969,GSM2344970,GSM2344971,GSM2344972,GSM2344973,GSM2344974,GSM2344975,GSM2344976
count,35238.0,35238.0,35238.0,35238.0,35238.0,35238.0,35238.0,35238.0,35238.0,35238.0,35238.0,35238.0
mean,879.0,891.0,885.0,906.0,999.0,987.0,1040.0,1007.0,963.0,962.0,1030.0,971.0
std,7328.0,6617.0,6925.0,4686.0,5050.0,5326.0,4732.0,4626.0,4458.0,4757.0,4832.0,4562.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,2.0,2.0,3.0,3.0,3.0,3.0,2.0,2.0,2.0,3.0,3.0,3.0
75%,453.0,465.0,476.0,431.0,485.0,480.0,516.0,499.0,526.0,569.0,556.0,529.0
max,723398.0,798530.0,664427.0,366345.0,378896.0,394524.0,301857.0,290756.0,308816.0,271799.0,297404.0,312086.0

In [5]:
# This is a large dataset, so lets take a small random sample to work with
# the sample() method randomly selects a number of rows or columns from a larger DataFrame
# We are setting the random_state here so that we all use the same random genes
df_sample = df.sample(100, axis = 0, random_state = 333)

In [6]:
print ("Dimensions of DataFrame:",df_sample.shape)
print (df_sample.head())

Dimensions of DataFrame: (100, 12)
             GSM2344965  GSM2344966  GSM2344967  GSM2344968  GSM2344969  \
gene_symbol
ASPDH                 1           1           1           4           0
KRT18P19              0           0           0           1           0
ANKIB1             2578        2432        2067        2634        3238
AGGF1P6               0           0           0           0           0
ZNF618             1489        1441        1089         997        1088

             GSM2344970  GSM2344971  GSM2344972  GSM2344973  GSM2344974  \
gene_symbol
ASPDH                 1           2           1           1           2
KRT18P19              0           2           1           2           0
ANKIB1             3158        2373        1908        2324        2918
AGGF1P6               0           0           0           0           2
ZNF618              994        1947        1521        1617        1121

             GSM2344975  GSM2344976
gene_symbol
ASPDH                 1           8
KRT18P19              0           2
ANKIB1             3352        3200
AGGF1P6               2           1
ZNF618              978        1184

In [7]:
# Let's bring in the metadata from an excel spreadsheet
meta = pd.read_excel("data/GSE88741-metadata.xlsx", index_col=1)
meta

             Sample_geo_accession                Stage           cell type
Sample Title
FM_1                   GSM2344965  primary melanocytes  normal melanocytes
FM_2                   GSM2344966  primary melanocytes  normal melanocytes
FM_3                   GSM2344967  primary melanocytes  normal melanocytes
SK_MEL_28_1            GSM2344968           metastatic  melanoma cell line
SK_MEL_28_2            GSM2344969           metastatic  melanoma cell line
SK_MEL_28_3            GSM2344970           metastatic  melanoma cell line
SK_MEL_147_1           GSM2344971           metastatic  melanoma cell line
SK_MEL_147_2           GSM2344972           metastatic  melanoma cell line
SK_MEL_147_3           GSM2344973           metastatic  melanoma cell line
UACC_62_1              GSM2344974           metastatic  melanoma cell line
UACC_62_2              GSM2344975           metastatic  melanoma cell line
UACC_62_3              GSM2344976           metastatic  melanoma cell line

In [9]:
# Now let's extract the Sample Titles and use them to replace the ugly GSM names
columns = meta.index
print (type(columns))
df_sample.columns = columns

<class 'pandas.core.indexes.base.Index'>

In [10]:
df_sample.head()

Sample Title,FM_1,FM_2,FM_3,SK_MEL_28_1,SK_MEL_28_2,SK_MEL_28_3,SK_MEL_147_1,SK_MEL_147_2,SK_MEL_147_3,UACC_62_1,UACC_62_2,UACC_62_3
gene_symbol,,,,,,,,,,,,
ASPDH,1,1,1,4,0,1,2,1,1,2,1,8
KRT18P19,0,0,0,1,0,0,2,1,2,0,0,2
ANKIB1,2578,2432,2067,2634,3238,3158,2373,1908,2324,2918,3352,3200
AGGF1P6,0,0,0,0,0,0,0,0,0,2,2,1
ZNF618,1489,1441,1089,997,1088,994,1947,1521,1617,1121,978,1184

In [11]:
# Notice how we set the column names above
# We can use that command to show us index and column names as well
print(df_sample.index)
print(df_sample.columns)
print(df_sample.dtypes)

Index(['ASPDH', 'KRT18P19', 'ANKIB1', 'AGGF1P6', 'ZNF618', 'IMPG2', 'SLC26A6',
       'RP11-28P17.3', 'CYP51A1P2', 'UBE3AP2', 'MAPKAPK3', 'DYNLT3', 'TNNC1',
       'IGHV3-42', 'OR2W5', 'RPL5P2', 'GRAMD3', 'PRELID2P1', 'MTCO1P42',
       'GS1-259H13.13', 'IGKV1D-39', 'AC144568.4', 'SYN1', 'MPDZ', 'DGKI',
       'RCC2', 'RPL5P16', 'RP11-74C1.2', 'KIF5A', 'GTF2H1', 'TMEM126B',
       'COL1A1', 'APOF', 'SLC35A3', 'NBPF17P', 'TMEM60', 'ELFN1', 'OSBPL9P5',
       'AKR1C4', 'MARCKSL1', 'TRAPPC2B', 'GU182343.7', 'NCMAP', 'ZNF676',
       'BMPR1A', 'RP11-133L14.2', 'WDR19', 'RP11-11A5.1', 'CTD-2587H24.1',
       'TAF1D', 'SLC10A1', 'RP11-552J9.11', 'BCAP31', 'RPS6KA6',
       'RP11-216F5.1', 'PGBD2', 'NAP1L4P3', 'TSNAXIP1', 'CHRNA7',
       'RP11-307F22.2', 'DYNC2H1', 'AC064850.4', 'AC104073.1', 'MTSS1',
       'ZCCHC17', 'AC010731.4', 'RP11-359P14.3', 'IFT74', 'FOXC1',
       'RP11-537E18.1', 'CDIP1', 'SULT1A1', 'MTND5P27', 'ARIH2P1',
       'AC243945.1', 'SLC7A15P', 'HNRNPCP10', 'SHMT1', 'OR1N2', 'ZNF343',
       'RECQL4', 'DTX3L', 'CPAMD8', 'CLUHP1', 'HMGN1P18', 'RP11-25J3.2',
       'NBAS', 'SRPK2P', 'RP11-113C12.2', 'ZNF24', 'MOB3A', 'HNRNPA1P29',
       'KISS1', 'AEBP1', 'EHF', 'LUM', 'PLEKHM3', 'IQCG', 'AQP7P4',
       'IGLV1-41'],
      dtype='object', name='gene_symbol')
Index(['FM_1', 'FM_2', 'FM_3', 'SK_MEL_28_1', 'SK_MEL_28_2', 'SK_MEL_28_3',
       'SK_MEL_147_1', 'SK_MEL_147_2', 'SK_MEL_147_3', 'UACC_62_1',
       'UACC_62_2', 'UACC_62_3'],
      dtype='object', name='Sample Title')
Sample Title
FM_1            int64
FM_2            int64
FM_3            int64
SK_MEL_28_1     int64
SK_MEL_28_2     int64
SK_MEL_28_3     int64
SK_MEL_147_1    int64
SK_MEL_147_2    int64
SK_MEL_147_3    int64
UACC_62_1       int64
UACC_62_2       int64
UACC_62_3       int64
dtype: object

## Slicing and sorting
Getting subsets of data out of `pandas` DataFrames is done primarily in one of two ways.
If you want to search for row and column names, you use .loc()
You can instead use the indexes to select the data you want using .iloc()

In [ ]:
# Let's sort by the index

In [ ]:
df_sample.UACC_62_1

In [16]:
# We can send our DataFrame into a numpy array
# ndarrays can only be one type of data, so if we added any metadata
# this would convert to whatever data type works for all data types present

nda = df.to_numpy()
type(nda)
#nda.head()

NameError: name 'head' is not defined

## Differences between lists and NumPy Arrays
* An array's size is immutable.  You cannot append, insert or remove elements, like you can with a list.
* All of an array's elements must be of the same [data type](https://docs.scipy.org/doc/numpy-1.14.0/user/basics.types.html).
* A NumPy array behaves in a Pythonic fashion.  You can `len(my_array)` just like you would assume.

In [ ]:
gpas_as_list = [4.0, 3.286, 3.5]

In [ ]:
# Can have elements appended to it
gpas_as_list.append(4.0)
# Can have multiple datatypes in it.
gpas_as_list.insert(1, "Whatevs")
# Can have items removed
gpas_as_list.pop(1)

In [ ]:
gpas_as_list

In [ ]:
gpas = np.array(gpas_as_list)

In [ ]:
gpas.dtype

In [ ]:
gpas.itemsize

In [ ]:
gpas.size

In [ ]:
len(gpas)

In [ ]:
gpas.nbytes

## Multidimensional Arrays
* The data structure is actually called `ndarray`, representing any **n**umber of **d**imensions
* Arrays can have multiple dimensions, you declare them on creation
* Dimensions help define what each element in the array represents.  A two dimensional array is just an array of arrays
* **Rank** defines how many dimensions an array contains 
* **Shape** defines the length of each of the array's dimensions
* Each dimension is also referred to as an **axis**, and they are zero-indexed. Multiples are called **axes**.
* A 2d array is AKA **matrix**.

In [ ]:
students_gpas = np.array([
    [4.0, 3.286, 3.5, 4.0],
    [3.2, 3.8, 4.0, 4.0],
    [3.96, 3.92, 4.0, 4.0]
], np.float16)
students_gpas

In [ ]:
students_gpas.ndim

In [ ]:
students_gpas.shape

In [ ]:
students_gpas.size

In [ ]:
len(students_gpas)

In [ ]:
students_gpas.itemsize

In [ ]:
students_gpas.itemsize * students_gpas.size

In [ ]:
%whos ndarray

In [ ]:
np.info(students_gpas)

In [ ]:
students_gpas[2]

In [ ]:
students_gpas[2][3]

In [ ]:
students_gpas

## Common Routines
* Common [mathematical](https://docs.scipy.org/doc/numpy-1.14.0/reference/routines.math.html) [routines](https://docs.scipy.org/doc/numpy-1.14.0/reference/routines.html) are exposed so the formula can be abstracted away.
    * [`mean`](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.mean.html#numpy.mean) is a [statistics](https://docs.scipy.org/doc/numpy-1.14.0/reference/routines.statistics.html) routine used to calculate the average.
* Reduction functions take a dimension and collapse it into a single value.
    * These functions define an axis parameter, and you should remember that the function works across the dimension.

In [ ]:
students_gpas.mean()

In [ ]:
students_gpas.mean(axis=1)

In [ ]:
plt.boxplot(students_gpas.T)
plt.plot()

## About data types
* By choosing the proper [data type](https://docs.scipy.org/doc/numpy-1.14.0/user/basics.types.html) you can greatly reduce the size required to store objects
* Data types are maintained by wrapping values in a [scalar representation](https://docs.scipy.org/doc/numpy-1.14.0/reference/arrays.scalars.html)
* `np.zeros` is a handy way to create an empty array filled with zeros.

In [ ]:
study_minutes = np.zeros(100, np.uint16)
study_minutes

In [ ]:
%whos

In [ ]:
60 * 24

In [ ]:
study_minutes[0] = 150

In [ ]:
first_day_minutes = study_minutes[0]

In [ ]:
first_day_minutes

In [ ]:
type(first_day_minutes)

In [ ]:
# TODO: Add 60 minutes to the second day in the study_minutes array
study_minutes[1] = 60

In [ ]:
study_minutes[2:6] = [80, 60, 30, 90]

## Creation 
* You can create a random but bound grouping of values using the `np.random` package.  
  * `RandomState` let's you seed your randomness in a way that is repeatable.
* You can append a row in a couple of ways
   * You can use the `np.append` method.  Make sure the new row is the same shape.
   * You can create/reassign a new array by including the existing array as part of the iterable in creation.


## Indexing
* You can use an indexing shortcut by separating dimensions with a comma.  
* You can index using a `list` or `np.array`.  Values will be pulled out at that specific index.  This is known as fancy indexing.
  * Resulting array shape matches the index array layout.  Be careful to distinguish between the tuple shortcut and fancy indexing.

In [ ]:
study_minutes = np.array([
    study_minutes,
    np.zeros(100, np.uint16)
])

In [ ]:
study_minutes.shape

In [ ]:
# Set round 2 day 1 to 60
study_minutes[1][0] = 60

In [ ]:
study_minutes[1, 0]

In [ ]:
1, 0

In [ ]:
rand = np.random.RandomState(42)
fake_log = rand.randint(30, 180, size=100, dtype=np.uint16)
fake_log

In [ ]:
[fake_log[3], fake_log[8]]

In [ ]:
fake_log[[3, 8]]

In [ ]:
index = np.array([
    [3, 8],
    [0, 1]
])
fake_log[index]

In [ ]:
study_minutes = np.append(study_minutes, [fake_log], axis=0)

In [ ]:
study_minutes[1, 1] = 360

## Boolean Array Indexing
* You can create a boolean array by using comparison operators on an array.
  * You can use boolean arrays for fancy indexing.
  * Boolean arrays can be compared by using bitwise operators (`&`, `|`)
      * Do not use the `and` keyword.
      * Remember to mind the order of operations when combining
* Even though boolean indexing returns a new array, you can update an existing array using a boolean index.

In [ ]:
fake_log[fake_log < 60]

In [ ]:
results = []
for value in fake_log:
    if value < 60:
        results.append(value)
np.array(results)

In [ ]:
study_minutes[study_minutes < 60]

In [ ]:
np.array([False, True, True]) & np.array([True, False, True])

In [ ]:
study_minutes[(study_minutes < 60) & (study_minutes > 0)]

In [ ]:
study_minutes[study_minutes < 60] = 0

In [ ]:
study_minutes[2]

## Universal Functions - Reduce / Accumulate
* Universal Functions expose a function to [`reduce`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html) an array to a single value.
* There is also a function named [`accumulate`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.accumulate.html) which will show the reduction and it's accumulation as it happens.

In [ ]:
np.add.reduce(study_minutes[0])

In [ ]:
np.add.accumulate(study_minutes[0])

In [ ]:
np.sum(study_minutes[0])

In [ ]:
np.sum(study_minutes, axis=1)

In [ ]:
# Pass in a one dimensional array of all the minutes that are 
#  greater than zero
plt.hist(study_minutes[study_minutes > 0])
plt.plot()

## Slicing
* Works a lot like normal list slicing.
* You can use commas to separate each dimension slice.
* Always returns a data view **not a copy**
* You can access the base object using the `ndarray.base` property

In [ ]:
fruit = ["apple", "banana", "cherry", "durian"]

In [ ]:
fruit[1:3]

In [ ]:
fruit[:3]

In [ ]:
fruit[3:]

In [ ]:
fruit[:]

In [ ]:
copied = fruit[:]

In [ ]:
copied[3] = 'cheese'
# Slicing a list returns a copy
fruit, copied

In [ ]:
fruit[::2]

In [ ]:
fruit[::-1]

In [ ]:
np.arange(20)

In [ ]:
practice = np.arange(42)
practice.shape = (7, 6)
practice

In [ ]:
practice[2:5, 3::2]

In [ ]:
# Any slicing of ndarray returns a view and not a copy!
not_copied = practice[:]
not_copied[0, 0] = 90210
practice, not_copied

In [ ]:
practice.base is None

In [ ]:
not_copied.base is None

In [ ]:
not_copied.base is practice

In [ ]:
practice.flags['OWNDATA'], not_copied.flags['OWNDATA']

## Array Manipulation
* The documentation on [Array Manipulation](https://docs.scipy.org/doc/numpy/reference/routines.array-manipulation.html) is a good one to keep bookmarked.
* `ndarray.reshape` creates a view with a new shape
  * You can use `-1` as a value to infer the missing dimension
* `ndarray.ravel` returns a single dimensional view of the array.
* `ndarray.flatten` can be used to make a single dimensional copy.
* `np.lookfor` is great for searching docstrings from within a notebook.

In [ ]:
practice_view = practice.reshape(3, 14)
practice, practice_view, practice_view.base is practice

In [ ]:
practice.reshape(-1, 2).shape

In [ ]:
practice.ravel()

## Linear Algebra
* There is a module for linear algebra, [linalg](https://docs.scipy.org/doc/numpy/reference/routines.linalg.html)
* You can solve for a system of equations using the [solve function](https://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.solve.html#numpy.linalg.solve)
    * You can create a square 2 dimensional matrix and a constant row vector and solve for each variable column
    * You can double check the answer using the inner product or [dot](https://docs.scipy.org/doc/numpy/reference/generated/numpy.dot.html#numpy.dot).
* You can use the `@` to produce the dot product of two arrays.

In [ ]:
orders = np.array([
    [2, 0, 0, 0],
    [4, 1, 2, 2],
    [0, 1, 0, 1],
    [6, 0, 1, 2]
])
totals = np.array([3, 20.50, 10, 14.25])
prices = np.linalg.solve(orders, totals)
prices

In [ ]:
# A  B
orders @ prices

In [ ]:
orders.dot(prices)

## Universal Functions
* [ufuncs](https://docs.scipy.org/doc/numpy/reference/ufuncs.html) are commonly needed vectorized functions
  * Vectorized functions allow you to operate element by element without using a loop
* The standard math and comparison operations have all been overloaded so that they can make use of vectorization
* Values can be [broadcasted](https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html), or stretched to be applied to the ufuncs.

In [ ]:
a, b = np.split(np.arange(1, 11), 2)
a, b

In [ ]:
a + b

In [ ]:
a - b

In [ ]:
b - a

In [ ]:
a * b

In [ ]:
a + 2

In [ ]:
a + np.repeat(2, 5)

In [ ]:
>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
x1, x2

In [ ]:
>>> np.add(x1, x2)

In [ ]:
np.add(x1, 2)